<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{title}}</h1>
    <canvas id="myCanvas" height="500px">  
    </canvas>
    <button type="submit" ng-click="addTable()" class="btn btn-success">Add table</button>
    <form name="scaleForm">
        <label for="selectScale"> Select max. Height: </label>
        <select name="selectScale" id="selectScale"
            ng-options="option.name for option in scales.availableOptions track by option.value"
            ng-model="scales.selectedOption" ng-change="draw()"></select>
    </form>
    <button type="submit" ng-click="saveChanges(tablesValid)" ng-disabled="!tablesValid" class="btn btn-success">Save Changes</button>
</body>
</html>